<p><h1><%=@linked_post.title%></h1></p>

<p><h2><%=@linked_post.body%></h2></p>

<p><h5><%=@linked_post.summary%></h5></p>

<p><h5><%=@linked_post.author%></h5></p>

<p><h6><%=@linked_post.created_at%></h6></p>
