<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Week 4 Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="clean-blog.scss" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">Go Pacers Blog</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class = "gold">
                      <a href="index.html">Home</a>
                  </li>
                  <li>
                      <a href="about.html">About</a>
                  </li>
                  <li>
                      <a href="contact.html">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Header -->
  <!-- Set your background image for this header on the line below. -->
  <header class="intro-header" style="background-image: url('/assets/pacers.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <span class="subheading">An Iron Yard Production Est. Summer 2015</span>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- Main Content -->
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <p>  <%=yield%> </p>
          </div>
          <div class="col-md-6">
            <div class = "author">

              <div class = "poster_pic">
                <%= image_tag("img.jpeg") %>
              </div>

              <div class = "poster">
              <p> Posted by: <%=@post.author%> </p>
              </div>

              <p class = "social_media"> Twitter | Facebook | Instagram </p>

              <div class = "advert">
                <%= image_tag("pacers_logo.gif") %>
              </div>

              <div class = "ad_write-up">
              <p> Out believe has request not how comfort evident. Up delight cousins we feeling minutes. Genius has looked end piqued spring. Down has rose feel find man. Learning day desirous informed expenses material returned six the. She enabled invited exposed him another. Reasonably conviction solicitude me mr at discretion reasonable. Age out full gate bed day lose. </p>
              </div>
            </div>
          </div>
      </div>
  </div>
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                <div class = "picture_container">
                  <p class = "fav">  Favorite Players </p>
                  <div class="george">
                    <%=link_to image_tag("Paul-George-Jump.jpg"), id_path(:id => 1) %>
                    <p> George </p>
                  </div>
                  <div class="hill">
                    <%=link_to image_tag("George_Hill_Pacers.jpg"), id_path(:id => 2) %>
                    <p> Hill </p>
                  </div>
                  <div class="ellis">
                    <%=link_to image_tag("Monta_Ellis.jpg"), id_path(:id => 3) %>
                    <p> Ellis </p>
                </div>
                <div class="stuckey">
                  <%=link_to image_tag("stucky.jpg"), id_path(:id => 4) %>
                  <p> Stuckey </p>
                </div>
              </div>
              <div class = "btm_pic">
                <p class = "p_blog"> Pacers Blog </p>
                <p class = "players"> George | Hill | Ellis | Stuckey </p>
              </div>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>
